<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>

    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'SEC_App/style.css' %}?version=2">

    <!-- Tajawal font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

</head>
<body>
    <div id="login-div">
    <fieldset class="input_box">
    {% block content %}

    {% if form.errors %}
        <p>كلمة المرور أو اسم المستخدم غير صحيح. فضلًا حاول مجددًا</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>الوصول لهذه الصفحة غير مصرح لحسابك</p>
        {% else %}
        <p>فضلًا استخدم حسابك لتسجيل الدخول</p>
        {% endif %}
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="login-content">
        <tr>
            <td>اسم المستخدم</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>كلمة المرور</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
        <br>
        <button type="submit" class="login-content" style="text-align: center;">تسجيل الدخول</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p></p><a href="{% url 'password_reset' %} " style="color: aliceblue; text-align: center;" class="login-content">نسيت كلمة المرور؟</a></p>

    <a href="{% url 'SEC_App:register' %}" style="color: aliceblue; text-align: left;" class="login-content">تسجيل جديد</a>
    {% endblock %}
</fieldset>
    </div>
</body>
</html>