<!DOCTYPE html>
<html lang="er" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'SEC_App/style.css' %}?version=1">

    <!-- Tajawal font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

</head>
<body>
    <h1 style="text-align: center;">إعادة تعيين كلمة المرور</h1>
    <div id="password-div">
        <fieldset class="input_box" style="padding: 30px;">
            {% block content %}
            <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
                <label for="email">البريد الإلكتروني</label>
                <span id='email'>{{ form.email }}</span><br><br>
                <button type="submit" class="btn btn-default btn-lg">تغيير كلمة المرور</button>
            </form>
            {% endblock %}
        </fieldset>
    </div>
</body>
</html>