<!DOCTYPE html>
<html lang='ar' dir='rtl'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>تحليل بيانات شركة الكهرباء</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'SEC_App/style.css' %}?version=10">
    <script src="{% static 'SEC_App/search.js' %}?version=9" defer></script>

    <!-- jQuery Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
          $("#end_period").datepicker();
          $("#period_start").datepicker();
        } );
    </script>

    <!-- dots  -->
    <link href="{% static 'SEC_App/node_modules/three-dots/dist/three-dots.css' %}" rel="stylesheet">

    <!-- Tajawal font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

</head>
<div id='loading-wrapper'>
    <div id='loading-wrapper-dots'><div class="dot-pulse"></div></div>
    <br><br>
</div>
<div id='loading-wrapper-h3'>جمع وتحليل التغريدات</div>
<body>
    <div id='full-page'>
    <h1 id='home-h1'>تحليل تغريدات شركة الكهرباء</h1>
    <div id='user-div' style="text-align: right; margin-top: 100px; margin-left: 15px;">
        <div id="user-info-div" style="display: flex; align-items: center;">
            <img src="{% static 'SEC_App/user.svg' %}?version=1" style="width: 45px;" alt={{ user.get_username }}>
            <span style="font-size: large; margin-right: 5px; margin-top: 6px;">{{ user.get_username }}</span>
        </div>
        <br>
        {% if query_num != None %}
            <a href="{% url 'SEC_App:history' %}?query_num={{ query_num }}"><button class="light-button" style="background-color: aliceblue; color: #121212;">عمليات البحث السابقة</button></a><br><br>
        {% endif %}
        <a href="{% url 'logout'%}?next={{request.path}}"><button class="light-button">تسجيل الخروج</button></a><br>
    </div>
    <!-- <h1>النتائج والتحليلات</h1><div id="home-button-div" style="display: inline-block;">
        <a href="{% url 'logout'%}?next={{request.path}}">تسجيل الخروج</a>
        <img id='home-button' src="{% static 'SEC_App/user.svg' %}" alt="{{ user.get_username }}" style='display: "inline-block"'>
        <span>{{ user.get_username }}</span>
    </div></h1> -->
    <div id="input-box-wrapper">
        <fieldset class='input_box'>
            <legend><h2>أساسي</h2></legend>
            <form action="{% url 'SEC_App:analysis' %}"  method="post" onSubmit="loadingPage()">
                {% csrf_token %}
                <label for='keyword'>كلمات البحث</label>
                <input list="keywords" id="keyword" name="keyword" onkeydown="keywords()" placeholder="مثال: كهرباء فاتورة انقطاع ..." size="37"/>
                <datalist id='keywords'>
                    <option value="كهرباء">
                    <option value="كهرب">
                    <option value="ألواح شمسية">
                </datalist>
                <select name="or_and" id="or_and" style="display: none;">
                    <option value=0>أو</option>
                    <option value=1>و</option>
                </select><br><br>
                
                <label for="domain">نطــاق البحث</label>
                <select name="domain" id="domain">
                    <option value=0 dir="ltr" size="46">وكلمة البحث (@ALKAHRABA أو @AlkahrabaCare)</option>
                    <option value=1 id="keyword_option" size="46" style="display: none;">كلمة البحث فقط</option>
                </select><br><br>
                <button type="submit">حلل</button>
        </fieldset>
    <br>
    
        <fieldset class='input_box'>
            <legend><h2>مخصص</h2></legend>

            <label for="period_start">الفـتـرة من</label>
            <input id="period_start" name="period_start" size="20">
            
            <label for="end_period">إلى </label>
            <input id="end_period" name="end_period" size="20">
            <br><br>
            <label for="start_time">الوقت من</label>
            <input type="time" id="start_time" name="start_time" size="20">
            <label for="end_time">إلى  </label>
            <input type="time" id="end_time" name="end_time" size="20">
            <br><br>
            <label for="limit" id='limit-label'>الحد الأعلى للتغريدات</label>
            <input type="text" value="100" size="20" id='limit' name='limit'>
            </fieldset>
            </div>
        </form>
    </div>
    
</body>
</html>