.input_box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

body, html {
    background-color: rgb(21, 21, 43);
    color: aliceblue;
    font-family: 'Tajawal', sans-serif;
}

input, select, button {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    background-color:seagreen;
    color: aliceblue;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

label {
    color: aliceblue;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

tr{
    border: 2px solid #f0f8ff;
    padding: 5px;
    margin: 5px;
}
#table-tweets {
    margin: 7px;
}

h2 {
    text-align: center;
}

#loading-wrapper{
    display: none;
    background-color: rgb(21, 21, 43);
    width: 100%;
    right: 49%;
    transform: translateX(-49%);
    margin-top: 20%;
}

#loading-wrapper-h3 {
    display: none;
    font-size: large;
    text-align: center;
    margin-top: 5%;
} 

/* #loading-wrapper-dots {
    right: 50%;
    transform: translateX(-50%);
}
*/
