.input_box {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 0px;
    display: inline-block;
}
#input-box-wrapper {
    position:absolute;
    left:50%;
    top:35%;
    margin:-100px 0 0 -210px;
}

body, html {
    background-color: #16162c;
    color: aliceblue;
    font-family: 'Tajawal', sans-serif;
    margin: 10px;
}

input, select, button {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px;
}

button {
    background-color:#4CAF50 ;
    color: rgb(240, 248, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 2px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    cursor:pointer;
}

label {
    color: aliceblue;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

td, th{
    border-bottom: 2px solid #f0f8ff;
    padding: 5px;
}
table {
    border-top: 2px solid #f0f8ff;
    border-left: 2px solid #f0f8ff;
    border-right: 2px solid #f0f8ff;
}

#search-details table, #search-details th,  #search-details td{
    border: 0px; 
}

#search-details {
    display: block;
    border-top: 2px solid #f0f8ff;
    border-bottom: 2px solid #f0f8ff;
}

h1 {
    text-align: center;
}

#loading-wrapper{
    display: none;
    background-color: rgb(21, 21, 43);
    width: 100%;
    right: 49%;
    transform: translateX(-49%);
    margin-top: 20%;
}

#loading-wrapper-h3 {
    display: none;
    font-size: large;
    text-align: center;
    margin-top: 5%;
} 

#myCahrt-container, #wordcloud-container, #pie-chart-container, #week-days-container {
    width:500px !important;
    height:500px !important;
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: x-large;
    font-weight: 600;
    margin: 20px;
    text-align: center;
    margin: 70px;
}

#tweet-list {
    text-align: right;
}

.relative {
    position: relative;
  }
  
.absolute-center {
position:absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -60%);
}

.text-center{
text-align: center;
}

p {
font-size: 1.5rem;
}
  
  
  
