.input_box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

body, html {
    background-color: #16162c;
    color: aliceblue;
    font-family: 'Tajawal', sans-serif;
    margin: 10px;
}

input, select, button {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    background-color:seagreen;
    color: rgb(240, 248, 255);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

label {
    color: aliceblue;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

td, th{
    border-bottom: 2px solid #f0f8ff;
    padding: 5px;
}
table {
    border-top: 2px solid #f0f8ff;
    border-left: 2px solid #f0f8ff;
    border-right: 2px solid #f0f8ff;
}

#search-details table, #search-details th,  #search-details td{
    border: 0px; 
}

#search-details {
    display: block;
    border-top: 2px solid #f0f8ff;
    border-bottom: 2px solid #f0f8ff;
}

h1 {
    text-align: center;
}

#loading-wrapper{
    display: none;
    background-color: rgb(21, 21, 43);
    width: 100%;
    right: 49%;
    transform: translateX(-49%);
    margin-top: 20%;
}

#loading-wrapper-h3 {
    display: none;
    font-size: large;
    text-align: center;
    margin-top: 5%;
} 

#myCahrt-container, #wordcloud-container {
    width:500px !important;
    height:500px !important;
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: x-large;
    font-weight: 600;
    margin: 20px;
}

#tweet-list {
    text-align: right;
}
